.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
  gap: 150px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info h1 {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--header-col);
}

.info p {
  font-size: 16px;
  color: var(--text-soft);
  text-align: justify;
}

.info a {
  width: max-content;
  padding: 10px 35px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  color: var(--text-col);
  background: var(--alt-col);
  cursor: pointer;
  text-decoration: none;
}

.imgContainer {
  flex: 1;
  width: 50px;
}

.container img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .container {
    gap: 80px;
  }
  .info h1 {
    font-size: 2.5rem;
  }

  .info p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .info h1 {
    font-size: 3rem;
  }

  .info p {
    font-size: 16px;
  }
  .container {
    flex-direction: column-reverse;
    gap: 80px;
  }

  .info {
    flex: 0;
    padding: 0 20px;
  }

  .imgContainer {
    display: block;
    width: 250px;
    flex: 0;
  }
}