.container {
  background: linear-gradient(45deg, var(--alt-col), var(--main-col));
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.login,
.overlay {
  width: 500px;
  height: 500px;
  background: linear-gradient(180deg, var(--alt-col), var(--main-col));
  border-radius: 30% 70% 70% 30% / 30% 37% 63% 70%;
  -webkit-box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.44);
}

.overlay {
  border-radius: 76% 24% 72% 28% / 42% 63% 37% 58%;
  background: rgba(255, 255, 255, 0.1);
}

.overlay .profile {
  margin-top: -35px;
  text-align: center;
}

.overlay .profile span {
  font-size: 90px;
  background: var(--text-col);
  border-radius: 50%;
  padding: 10px;
  color: var(--main-col);
  margin-top: -35px;
}

.overlay .profile h2 {
  padding-top: 10px;
  color: var(--dark-text);
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

.overlay .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.overlay .form .user,
.overlay .form .pass,
.overlay .form .name {
  display: flex;
  margin-bottom: 20px;
}

.overlay .form span {
  font-size: 35px;
  padding: 3px;
  border-radius: 37% 63% 42% 58% / 61% 31% 69% 39%;
  background: linear-gradient(45deg, var(--alt-col), var(--main-col));
  color: var(--dark-text);
  margin-right: 10px;
}

.overlay .form input {
  width: 325px;
  padding: 10px 15px;
  border-radius: 27px;
  outline: none;
  border: 2px solid var(--dark-text);
  font-size: 20px;
  color: var(--text-col);
  background: transparent;
}

.overlay .form input::placeholder {
  color: var(--dark-text);
}

.overlay .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.overlay .submit button {
  font-size: 18px;
  padding: 15px;
  width: 150px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
  outline: none;
  color: var(--dark-text);
  background: linear-gradient(to left, var(--alt-col), var(--main-col));
  box-shadow: rgb(0, 0, 0 / 45%) 0px 5px 7px 0px;
  cursor: pointer;
  margin-right: 20px;
}

.overlay .submit .signup {
  text-align: center;
}

.overlay .submit .signup p {
  color: var(--dark-text);
  font-size: 13px;
}

.overlay .submit .signup a {
  color: var(--dark-text);
}

.overlay .form .status {
  font-size: 14px;
  color: red;
  margin-top: 10px;
}

@media screen and (max-width: 640px) {
  .login,
  .overlay {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 470px) {
  .login,
  .overlay {
    width: 400px;
    height: 400px;
  }

  .overlay .profile span {
    font-size: 70px;
  }
  .overlay .profile h2 {
    font-size: 24px;
  }
  .overlay .form span {
    font-size: 30px;
  }
  .overlay .form input {
    width: 260px;
    padding: 5px 10px;
  }

  .overlay .submit {
    margin-top: 0;
  }

  .overlay .submit button {
    font-size: 14px;
    padding: 10px;
    width: 130px;
  }

  .overlay .submit .signup p {
    font-size: 12px;
  }
}
